<div>
  <mat-toolbar color="primary">
    <mat-icon>euro_symbol</mat-icon>

    <span>&nbsp;The Currency Converter</span>
  </mat-toolbar>

  <mat-card class="primary-card">
    <mat-card-content>
      <form #myform="ngForm" [formGroup]="form">
        <div>
          <mat-form-field>
            <mat-select placeholder="Source Currency" [formControl]="form.controls['sourceCurrency']" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency.id}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['sourceCurrency'].hasError('required')">Select a currency!</mat-error>
            <mat-hint>{{form.controls['sourceCurrency'].value?.currencyName}} <span *ngIf="form.controls['sourceCurrency'].value?.currencySymbol">{{form.controls['sourceCurrency'].value?.currencySymbol}}</span></mat-hint>
          </mat-form-field>

          <span>&nbsp;</span>

          <mat-form-field>
            <mat-select placeholder="Destination Currency" [formControl]="form.controls['destCurrency']" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency.id}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['destCurrency'].hasError('required')">Select a currency!</mat-error>
            <mat-hint>{{form.controls['destCurrency'].value?.currencyName}} <span *ngIf="form.controls['destCurrency'].value?.currencySymbol">{{form.controls['destCurrency'].value?.currencySymbol}}</span></mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
              <input matInput placeholder="Amount" [formControl]="form.controls['amount']" (keyup.enter)="convert()">
              <mat-error *ngIf="form.controls['amount'].hasError('pattern')">Type a positive amount!</mat-error>
          </mat-form-field>

          <span>&nbsp;</span>

          <mat-form-field>
            <input matInput placeholder="Equivalent Amount" [formControl]="form.controls['result']" (keyup.enter)="convert()">
            <mat-error *ngIf="form.controls['result'].hasError('pattern')">Type a positive amount!</mat-error>
          </mat-form-field>
        </div>    

        <div>
            <button mat-raised-button color="primary" (click)="convert()" [disabled]="!myform.valid">Convert</button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <ul>
        <li>Type the desired amount.</li>
        <li>Select the <em>Source</em> and <em>Destination</em> currencies.</li>
      </ul>
    </mat-card-footer>
  </mat-card>
</div>

