<div>
  <mat-toolbar color="primary">
    <mat-icon>euro_symbol</mat-icon>

    <span>&nbsp;The Currency Converter</span>
  </mat-toolbar>

  <!-- Component to select the currencies -->
  <currency-select 
    (onCurrencySelected)="selectCurrency($event)" 
    [currenciesList]="currencies"
    [selectedCurrencies]="[_sourceCurrency, _destCurrency]"></currency-select>

  <!-- Component to select the conversion rates while being offline -->
  <mru-conversion-list 
    [mruList]="_mostRecentList" 
    (onSelectConversion)="selectConversionPair($event)"></mru-conversion-list>

  <mat-card class="primary-card" *ngIf="_loadingFailed">
    <mat-card-content>
        <div mat-line color="warn">
          Failed to load the conversion rates for this currencies from the network neither from local database.
          The available currencies are listed in the <strong>Last Conversions History</strong> section, below.
        </div>

        <ul *ngIf="_sourceCurrency && _destCurrency">
            <li>[{{ _sourceCurrency.id}}] {{_sourceCurrency.currencyName}} {{_sourceCurrency.currencySymbol}}</li>
            <li>[{{ _destCurrency.id}}] {{_destCurrency.currencyName}} {{_destCurrency.currencySymbol}}</li>
        </ul>

        <div>
          <button mat-raised-button (click)="selectCurrency([_sourceCurrency, _destCurrency])">Refresh</button>
        </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="primary-card" *ngIf="!_loadingFailed">
    <mat-card-content>
      <form #myform="ngForm" [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Amount" [formControl]="form.controls['amount']" (change)="convert('ab')" (keyup.enter)="convert('ab')">
            <mat-hint>[{{ _sourceCurrency.id}}] {{_sourceCurrency.currencyName}} {{_sourceCurrency.currencySymbol}}</mat-hint>
            <mat-error *ngIf="form.controls['amount'].hasError('pattern')">Type a positive amount!</mat-error>
        </mat-form-field>

        <span>&nbsp;</span>

        <mat-form-field>
          <input matInput placeholder="Equivalent Amount" [formControl]="form.controls['result']" (change)="convert('ba')" (keyup.enter)="convert('ba')">
          <mat-error *ngIf="form.controls['result'].hasError('pattern')">Type a positive amount!</mat-error>
          <mat-hint>[{{ _destCurrency.id}}] {{_destCurrency.currencyName}} {{_destCurrency.currencySymbol}}</mat-hint>
        </mat-form-field>

        <p>Converion rates are <strong>{{elapsedTime()}}</strong> old.</p>

        <div *ngIf="isObsoleteConversionPair()">
          <p>Converion rates are obsolete.</p> 
          <p>Press <strong>[Refresh]</strong> to get the up-to-date values.</p>
          <button mat-raised-button color="warn" (click)="selectCurrency([_sourceCurrency, _destCurrency])">Refresh</button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <ul>
        <li>Type the desired amount, then press <strong>Enter</strong> Key.</li>
      </ul>
    </mat-card-footer>
  </mat-card>

  
</div>

