<div>
  <mat-toolbar color="primary">
    <mat-icon>euro_symbol</mat-icon>

    <span>&nbsp;The Currency Converter</span>
  </mat-toolbar>

  <mat-card class="primary-card">
    <mat-card-content>
      <form #myform="ngForm" [formGroup]="form">
        <div>
          <mat-form-field>
            <mat-select placeholder="Source Currency" [formControl]="form.controls['sourceCurrency']" (selectionChange)="setSourceCurrency(form.controls['sourceCurrency'].value)" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency.id}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['sourceCurrency'].hasError('required')">Select a currency!</mat-error>
            <mat-hint>{{form.controls['sourceCurrency'].value?.currencyName}} <span *ngIf="form.controls['sourceCurrency'].value?.currencySymbol">{{form.controls['sourceCurrency'].value?.currencySymbol}}</span></mat-hint>
          </mat-form-field>

          <span>&nbsp;</span>

          <mat-form-field>
            <mat-select placeholder="Destination Currency" [formControl]="form.controls['destCurrency']" (selectionChange)="setDestinationCurrency(form.controls['destCurrency'].value)" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency.id}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['destCurrency'].hasError('required')">Select a currency!</mat-error>
            <mat-hint>{{form.controls['destCurrency'].value?.currencyName}} <span *ngIf="form.controls['destCurrency'].value?.currencySymbol">{{form.controls['destCurrency'].value?.currencySymbol}}</span></mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
              <input matInput placeholder="Amount" [formControl]="form.controls['amount']" (change)="convert('ab')" (keyup.enter)="convert('ab')">
              <mat-error *ngIf="form.controls['amount'].hasError('pattern')">Type a positive amount!</mat-error>
          </mat-form-field>

          <span>&nbsp;</span>

          <mat-form-field>
            <input matInput placeholder="Equivalent Amount" [formControl]="form.controls['result']" (change)="convert('ba')" (keyup.enter)="convert('ba')">
            <mat-error *ngIf="form.controls['result'].hasError('pattern')">Type a positive amount!</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <ul>
        <li>Select the <strong>Source Currency</strong> and <strong>Destination Currency</strong>.</li>
        <li>Type the desired amount, then press <strong>Enter</strong> Key.</li>
      </ul>
    </mat-card-footer>
  </mat-card>
</div>

