/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

mat-form-field {
    margin: 0.4em 0;
}

.primary-card {
    width: 85%;
    margin: 10px auto;
}

mat-card-footer {
    font-size: 0.8em;
    padding: 5px 10px;
}

mat-form-field {
    width: 300px;
}

.error {
    color: red;
}